Repository coollabsio/coolify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

.lintstagedrc.json:

{
	"src/**/*.{js,jsx,ts,tsx,cjs,svelte}": [
		"eslint --fix --max-warnings=0",
		"prettier --ignore-path .gitignore --write"
	],
	"src/**/*.{json,css,scss,md,yaml}": [
		"prettier --ignore-path .gitignore --write"
	]
}

feat: Scan for lock files and set right commands
  src/lib/components/templates.ts
  src/routes/applications/[id]/configuration/_BuildPack.svelte
  src/routes/applications/[id]/configuration/buildpack.svelte
  src/routes/applications/[id]/configuration/source.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

chore: Version ++
  package.json
Due: none

feat: Public port range (WIP)
  prisma/migrations/20220220141136_public_portrange/migration.sql
  prisma/schema.prisma
  src/lib/database/databases.ts
  src/lib/letsencrypt.ts
  src/routes/databases/[id]/_Databases/_Databases.svelte
  src/routes/databases/[id]/settings.json.ts
  src/routes/databases/[id]/stop.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Github token
  src/routes/applications/[id]/configuration/_GithubRepositories.svelte
  src/routes/applications/[id]/index.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

chore: Version++
  package.json
Due: none

fix: Move tokens from session to cookie/store
  src/hooks.ts
  src/lib/components/common.ts
  src/lib/store.ts
  src/routes/applications/[id]/__layout.svelte
  src/routes/applications/[id]/configuration/_GithubRepositories.svelte
  src/routes/applications/[id]/configuration/_GitlabRepositories.svelte
  src/routes/applications/[id]/configuration/buildpack.svelte
  src/routes/applications/[id]/configuration/githubToken.json.ts
  src/routes/applications/[id]/configuration/repository.svelte
  src/routes/applications/[id]/index.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Add .circleci/config.yml
  .circleci/config.yml
Due: none

fix: Email is lowercased in login
  src/routes/login/index.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Lowercase email everywhere
  src/routes/login/index.json.ts
  src/routes/login/index.svelte
  src/routes/teams/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Ports range
  src/lib/queues/ssl.ts
  src/routes/services/[id]/minio/start.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

design: make copy/password visible
  src/tailwind.css
Due: prettier --ignore-path .gitignore --write

nothing important
  src/lib/components/CopyPasswordField.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

nothing here
  src/lib/components/CopyPasswordField.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Use normal docker-compose in dev
  package.json
Due: none

Frontend for port range
  src/lib/components/CopyPasswordField.svelte
  src/lib/components/Setting.svelte
  src/routes/__layout.svelte
  src/routes/applications/[id]/check.json.ts
  src/routes/applications/[id]/index.svelte
  src/routes/destinations/[id]/_FoundApp.svelte
  src/routes/services/[id]/check.json.ts
  src/routes/settings/check.json.ts
  src/routes/settings/index.json.ts
  src/routes/settings/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Design day!
  src/lib/components/CopyPasswordField.svelte
  src/lib/components/Explainer.svelte
  src/routes/__layout.svelte
  src/routes/applications/[id]/index.svelte
  src/routes/applications/[id]/secrets/_Secret.svelte
  src/routes/applications/[id]/secrets/index.svelte
  src/routes/databases/[id]/_Databases/_CouchDb.svelte
  src/routes/databases/[id]/_Databases/_Databases.svelte
  src/routes/databases/[id]/_Databases/_MongoDB.svelte
  src/routes/databases/[id]/_Databases/_MySQL.svelte
  src/routes/databases/[id]/_Databases/_PostgreSQL.svelte
  src/routes/databases/[id]/_Databases/_Redis.svelte
  src/routes/destinations/[id]/_LocalDocker.svelte
  src/routes/destinations/[id]/index.svelte
  src/routes/new/destination/_Docker.svelte
  src/routes/new/source/_Github.svelte
  src/routes/new/source/_Gitlab.svelte
  src/routes/services/[id]/_Services/_Services.svelte
  src/routes/settings/index.svelte
  src/routes/sources/[id]/_Github.svelte
  src/routes/sources/[id]/_Gitlab.svelte
  src/routes/sources/[id]/index.svelte
  src/routes/teams/[id]/index.svelte
  src/tailwind.css
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

small fixes
  src/lib/queues/proxy.ts
  src/routes/__layout.svelte
  src/routes/services/[id]/_Services/_Services.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

UI fix
  src/routes/databases/[id]/_Databases/_Databases.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Random network name for demo
  package.json
  src/lib/database/users.ts
  src/routes/destinations/[id]/__layout.svelte
  src/routes/new/destination/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Settings fqdn grr
  src/routes/settings/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: none

cleanup
  src/routes/settings/index.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Login page description for demo page
  src/routes/login/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

improvement: dns check
  src/routes/applications/[id]/check.json.ts
  src/routes/applications/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Revert default network
  src/lib/database/users.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Random subdomain for demo
  src/routes/applications/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Random domain for services
  src/routes/services/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: http for demo, oops
  src/routes/applications/[id]/index.svelte
  src/routes/services/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

changes for demo
  src/routes/applications/[id]/index.svelte
  src/routes/services/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

update packages
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  scripts/install.sh
  scripts/install_podman_experiment.sh
Due: none

feat: Astro buildpack
  src/lib/buildPacks/index.ts
  src/lib/components/templates.ts
  src/routes/applications/[id]/configuration/buildpack.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: 11ty buildpack
  src/lib/buildPacks/index.ts
  src/lib/components/templates.ts
  src/routes/applications/[id]/configuration/buildpack.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Docker scanner
  src/routes/applications/[id]/configuration/buildpack.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Registration page
  src/lib/components/CopyPasswordField.svelte
  src/lib/database/users.ts
  src/lib/settings.ts
  src/routes/login/index.json.ts
  src/routes/register/index.svelte
  src/routes/register/index.ts
  src/tailwind.css
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

chore: version++
  package.json
Due: none

fix: Improvement on image pulls
  src/lib/queues/cleanup.ts
  src/lib/queues/index.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Coolify image pulls
  src/routes/__layout.svelte
  src/routes/update.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

WIP: Remote docker engine
  prisma/schema.prisma
  src/lib/common.ts
  src/lib/components/common.ts
  src/lib/database/destinations.ts
  src/routes/destinations/[id]/_RemoteDocker.svelte
  src/routes/destinations/[id]/index.json.ts
  src/routes/destinations/[id]/index.svelte
  src/routes/new/destination/_LocalDocker.svelte
  src/routes/new/destination/_RemoteDocker.svelte
  src/routes/new/destination/docker.json.ts
  src/routes/new/destination/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write
