Repository coollabsio/coolify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

.lintstagedrc.json:

{
	"src/**/*.{js,jsx,ts,tsx,cjs,svelte}": [
		"eslint --fix --max-warnings=0",
		"prettier --ignore-path .gitignore --write"
	],
	"src/**/*.{json,css,scss,md,yaml}": [
		"prettier --ignore-path .gitignore --write"
	]
}

fix: Minio urls + domain checks
  prisma/migrations/20220519095648_minio_apifqdn/migration.sql
  prisma/schema.prisma
  src/lib/database/checks.ts
  src/lib/database/common.ts
  src/lib/database/services.ts
  src/lib/queues/proxyTcpHttp.ts
  src/routes/services/[id]/_Services/_MinIO.svelte
  src/routes/services/[id]/_Services/_Services.svelte
  src/routes/services/[id]/check.json.ts
  src/routes/services/[id]/minio/index.json.ts
  src/routes/services/[id]/minio/start.json.ts
  src/routes/webhooks/traefik/main.json.ts
  src/routes/webhooks/traefik/other.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

remove notifications for now
  prisma/migrations/20220517081338_notifications/migration.sql
  prisma/schema.prisma
Due: none

remove notifications for now
  src/routes/__layout.svelte
  src/routes/notifications.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Remove gh token on git source changes
  src/routes/applications/[id]/configuration/repository.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: do not fetch app state in case of missconfiguration
  src/routes/applications/[id]/__layout.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Demo instance save domain instantly
  src/routes/applications/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Instant save on demo instance
  src/routes/services/[id]/_Services/_Services.svelte
  src/routes/services/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

disable appwrite for now
  src/lib/components/common.ts
  src/routes/services/[id]/appwrite-wip/index.json.ts
  src/routes/services/[id]/appwrite-wip/start.json.ts
  src/routes/services/[id]/appwrite-wip/stop.json.ts
  src/routes/webhooks/traefik/main.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: new source canceled view
  src/routes/sources/[id]/_Github.svelte
  src/routes/sources/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

ui: css
  src/tailwind.css
Due: prettier --ignore-path .gitignore --write

feat: database + service usage
  src/routes/applications/[id]/index.svelte
  src/routes/databases/[id]/index.svelte
  src/routes/databases/[id]/usage.json.ts
  src/routes/services/[id]/_Services/_Services.svelte
  src/routes/services/[id]/index.svelte
  src/routes/services/[id]/usage.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Deleted a file, oops
  src/routes/applications/[id]/usage.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

gradually redirecting users to fider
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Removing redundant information, adding support for github codespaces.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  package-lock.json
Due: none

adding support for github codespaces.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Due: none

Let's see if this works
  .devcontainer/devcontainer.json
Due: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

adding more commands
  .devcontainer/devcontainer.json
Due: none

Updating docs and removing redundant information
  CONTRIBUTING.md
Due: none

fix: Otherfqdns
  src/routes/services/[id]/_Services/_Services.svelte
  src/routes/services/[id]/check.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Host key verification
  src/lib/importers/github.ts
  src/lib/importers/gitlab.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: ftp connection
  src/lib/haproxy/index.ts
  src/routes/webhooks/traefik/other.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: GitHub fixes
  src/lib/database/gitSources.ts
  src/routes/sources/[id]/_Github.svelte
  src/routes/sources/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

chore: version++
  package.json
Due: none

chore: Version++
  package.json
Due: none

fix: TrustProxy
  src/lib/haproxy/index.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: force restart proxy
  package-lock.json
  src/routes/update.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Only restart coolify proxy in case of version prior to 2.9.2
  prisma/seed.cjs
  src/routes/update.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Force restart proxy on seeding
  prisma/seed.cjs
Due: none

fix: Add GIT ENV variable for submodules
  src/lib/importers/github.ts
  src/lib/importers/gitlab.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Recurisve clone instead of submodule
  src/lib/importers/github.ts
  src/lib/importers/gitlab.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: versions
  prisma/seed.cjs
Due: none

fix: Only reconfigure coolify proxy if its missconfigured
  prisma/seed.cjs
Due: none

fix: Demo version forms
  src/routes/applications/[id]/index.svelte
  src/routes/services/[id]/_Services/_Services.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: typo
  src/routes/services/[id]/_Services/_Services.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Revert gh and gl cloning
  src/lib/importers/github.ts
  src/lib/importers/gitlab.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write
