Repository coollabsio/coolify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

.lintstagedrc.json:

{
	"src/**/*.{js,jsx,ts,tsx,cjs,svelte}": [
		"eslint --fix --max-warnings=0",
		"prettier --ignore-path .gitignore --write"
	],
	"src/**/*.{json,css,scss,md,yaml}": [
		"prettier --ignore-path .gitignore --write"
	]
}

fix: Remove build logs in case of app removed
  src/lib/database/applications.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Add PHP modules
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/lib/buildPacks/php.ts
  src/lib/database/applications.ts
  src/lib/queues/builder.ts
  src/routes/applications/[id]/index.json.ts
  src/routes/applications/[id]/index.svelte
  src/tailwind.css
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

remove mysql
  src/routes/applications/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

css fix for select
  src/tailwind.css
Due: prettier --ignore-path .gitignore --write

fix: Cleanup old builds
  src/lib/queues/builder.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Only cleanup same app
  src/lib/queues/builder.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Add nginx + htaccess files
  src/lib/buildPacks/gatsby.ts
  src/lib/buildPacks/php.ts
  src/lib/buildPacks/react.ts
  src/lib/buildPacks/static.ts
  src/lib/buildPacks/svelte.ts
  src/lib/buildPacks/vuejs.ts
  src/lib/queues/builder.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

chore: Version++
  package.json
Due: none

Migration file
  prisma/migrations/20220320141424_phpmodules/migration.sql
Due: none

WIP - Persistent storage
  prisma/schema.prisma
  src/app.d.ts
  src/lib/buildPacks/gatsby.ts
  src/lib/buildPacks/nestjs.ts
  src/lib/buildPacks/nextjs.ts
  src/lib/buildPacks/node.ts
  src/lib/buildPacks/nuxtjs.ts
  src/lib/buildPacks/react.ts
  src/lib/buildPacks/rust.ts
  src/lib/buildPacks/static.ts
  src/lib/buildPacks/svelte.ts
  src/lib/buildPacks/vuejs.ts
  src/lib/database/applications.ts
  src/lib/docker.ts
  src/lib/queues/builder.ts
  src/routes/applications/[id]/__layout.svelte
  src/routes/applications/[id]/storage/_Storage.svelte
  src/routes/applications/[id]/storage/index.json.ts
  src/routes/applications/[id]/storage/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

WIP Persistent storage
  package.json
  src/lib/buildPacks/common.ts
  src/lib/buildPacks/php.ts
  src/lib/queues/builder.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Update buildpacks for static sites
  src/lib/buildPacks/common.ts
  src/lib/buildPacks/gatsby.ts
  src/lib/buildPacks/php.ts
  src/lib/buildPacks/react.ts
  src/lib/buildPacks/static.ts
  src/lib/buildPacks/svelte.ts
  src/lib/buildPacks/vuejs.ts
  src/lib/queues/builder.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

WIP - Persistent storage
  src/lib/buildPacks/common.ts
  src/lib/buildPacks/php.ts
  src/lib/queues/builder.ts
  src/routes/applications/[id]/storage/_Storage.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Add debug for GH importer
  package.json
  src/lib/importers/github.ts
  src/lib/queues/builder.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

log ssl errors
  src/lib/queues/ssl.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

chore: version++
  package.json
Due: none

fix: skip ssl cert in case of error
  src/lib/letsencrypt/index.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Add schema
  prisma/migrations/20220322135800_persistent_storage/migration.sql
Due: none

Disable PHP modules, as the new image has all activated by default
  src/routes/applications/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Use compose instead of normal docker cmd
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/lib/buildPacks/common.ts
  src/lib/buildPacks/php.ts
  src/lib/components/common.ts
  src/lib/database/applications.ts
  src/lib/queues/builder.ts
  src/routes/applications/[id]/index.json.ts
  src/routes/applications/[id]/index.svelte
  src/routes/applications/[id]/storage/_Storage.svelte
  src/routes/applications/[id]/storage/index.json.ts
  src/routes/applications/[id]/storage/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Volumes
  src/lib/queues/builder.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Be able to redeploy PRs
  src/routes/applications/[id]/deploy.json.ts
  src/routes/applications/[id]/previews/index.svelte
  src/routes/applications/[id]/storage/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Update packages
  package.json
  pnpm-lock.yaml
  src/tailwind.css
  tsconfig.json
Due: prettier --ignore-path .gitignore --write

UI fixes
  src/app.d.ts
  src/lib/queues/builder.ts
  src/routes/applications/[id]/__layout.svelte
  src/routes/applications/[id]/configuration/_GithubRepositories.svelte
  src/routes/applications/[id]/configuration/source.svelte
  src/routes/applications/[id]/index.svelte
  src/routes/applications/[id]/logs/build/_BuildLog.svelte
  src/routes/applications/[id]/logs/build/index.svelte
  src/routes/applications/index.svelte
  src/routes/applications/index.ts
  src/routes/applications/new.ts
  src/routes/dashboard.json.ts
  src/routes/databases/index.svelte
  src/routes/databases/index.ts
  src/routes/databases/new.ts
  src/routes/new/application/index.json.ts
  src/routes/new/application/index.svelte
  src/routes/new/database/index.svelte
  src/routes/new/service/index.svelte
  src/routes/services/index.svelte
  src/routes/services/index.ts
  src/routes/services/new.ts
  src/routes/teams/index.svelte
  src/tailwind.css
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Test nocheck proxy
  src/lib/haproxy/configuration.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Cleanup only 2 hours+ old images
  src/lib/queues/cleanup.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Add n8n.io service
  src/lib/components/svg/services/N8n.svelte
  src/lib/database/common.ts
  src/lib/database/services.ts
  src/routes/services/[id]/configuration/type.svelte
  src/routes/services/[id]/index.svelte
  src/routes/services/[id]/minio/index.json.ts
  src/routes/services/[id]/n8n/index.json.ts
  src/routes/services/[id]/n8n/start.json.ts
  src/routes/services/[id]/n8n/stop.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

chore: Version ++
  package.json
Due: none

feat: Add update kuma service
  src/app.d.ts
  src/lib/components/svg/services/UptimeKuma.svelte
  src/lib/database/common.ts
  src/lib/database/services.ts
  src/routes/services/[id]/configuration/type.svelte
  src/routes/services/[id]/index.svelte
  src/routes/services/[id]/uptimekuma/index.json.ts
  src/routes/services/[id]/uptimekuma/start.json.ts
  src/routes/services/[id]/uptimekuma/stop.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Add icons
  src/routes/services/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

add search in repo and branch select
  src/routes/applications/[id]/configuration/_GithubRepositories.svelte
  src/tailwind.css
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

clean css
  src/tailwind.css
Due: prettier --ignore-path .gitignore --write

remove console.log
  src/routes/applications/[id]/configuration/_GithubRepositories.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Ghost service
  prisma/migrations/20220327180323_ghost/migration.sql
  prisma/schema.prisma
  src/lib/components/svg/services/Ghost.svelte
  src/lib/database/common.ts
  src/lib/database/services.ts
  src/lib/letsencrypt/index.ts
  src/routes/destinations/[id]/_LocalDocker.svelte
  src/routes/destinations/[id]/_RemoteDocker.svelte
  src/routes/services/[id]/_Services/_Ghost.svelte
  src/routes/services/[id]/_Services/_Services.svelte
  src/routes/services/[id]/__layout.svelte
  src/routes/services/[id]/configuration/type.svelte
  src/routes/services/[id]/ghost/index.json.ts
  src/routes/services/[id]/ghost/start.json.ts
  src/routes/services/[id]/ghost/stop.json.ts
  src/routes/services/[id]/index.json.ts
  src/routes/services/[id]/index.svelte
  src/routes/services/[id]/languagetool/start.json.ts
  src/routes/services/[id]/minio/start.json.ts
  src/routes/services/[id]/n8n/start.json.ts
  src/routes/services/[id]/nocodb/start.json.ts
  src/routes/services/[id]/plausibleanalytics/start.json.ts
  src/routes/services/[id]/uptimekuma/start.json.ts
  src/routes/services/[id]/vaultwarden/start.json.ts
  src/routes/services/[id]/vscodeserver/start.json.ts
  static/ghost.png
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Ghost logo size
  src/lib/components/svg/services/Ghost.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Ghost icon, remove console.log
  src/routes/services/[id]/ghost/start.json.ts
  src/routes/services/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

design: Colors on svelte-select
  src/tailwind.css
Due: prettier --ignore-path .gitignore --write

fix: List ghost services
  src/lib/haproxy/configuration.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Contribution
  .dockerignore
  .env.template
  .gitignore
  CONTRIBUTING.md
  README.md
  package.json
Due: none
