Repository coollabsio/coolify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: DNS check settings for SSL generation
  prisma/migrations/20220430111953_ssl_dns_check_settings/migration.sql
  prisma/schema.prisma
  src/lib/letsencrypt/index.ts
  src/lib/locales/en.json
  src/routes/settings/index.json.ts
  src/routes/settings/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Removed some checking that doesn't work properly. Added a switch for exposing a port.
  src/lib/locales/en.json
  src/lib/locales/fr.json
  src/routes/applications/[id]/check.json.ts
  src/routes/applications/[id]/index.json.ts
  src/routes/applications/[id]/index.svelte
  src/routes/services/[id]/wordpress/settings.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: checking low disk space
  package.json
  pnpm-lock.yaml
  src/lib/queues/cleanup.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Added expose port for Services
  prisma/migrations/20220430124553_expose_port_for_services/migration.sql
  prisma/schema.prisma
  src/lib/components/common.ts
  src/lib/database/services.ts
  src/lib/queues/builder.ts
  src/routes/services/[id]/_Services/_Services.svelte
  src/routes/services/[id]/ghost/index.json.ts
  src/routes/services/[id]/ghost/start.json.ts
  src/routes/services/[id]/languagetool/index.json.ts
  src/routes/services/[id]/languagetool/start.json.ts
  src/routes/services/[id]/meilisearch/index.json.ts
  src/routes/services/[id]/meilisearch/start.json.ts
  src/routes/services/[id]/minio/index.json.ts
  src/routes/services/[id]/minio/start.json.ts
  src/routes/services/[id]/n8n/index.json.ts
  src/routes/services/[id]/n8n/start.json.ts
  src/routes/services/[id]/nocodb/index.json.ts
  src/routes/services/[id]/nocodb/start.json.ts
  src/routes/services/[id]/plausibleanalytics/index.json.ts
  src/routes/services/[id]/plausibleanalytics/start.json.ts
  src/routes/services/[id]/umami/index.json.ts
  src/routes/services/[id]/umami/start.json.ts
  src/routes/services/[id]/uptimekuma/index.json.ts
  src/routes/services/[id]/uptimekuma/start.json.ts
  src/routes/services/[id]/vaultwarden/index.json.ts
  src/routes/services/[id]/vaultwarden/start.json.ts
  src/routes/services/[id]/vscodeserver/index.json.ts
  src/routes/services/[id]/vscodeserver/start.json.ts
  src/routes/services/[id]/wordpress/index.json.ts
  src/routes/services/[id]/wordpress/start.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

update locale
  src/lib/locales/en.json
Due: prettier --ignore-path .gitignore --write

fix locale
  src/lib/locales/en.json
Due: prettier --ignore-path .gitignore --write

beta features
  src/lib/store.ts
  src/routes/__layout.svelte
  src/routes/settings/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: build image
  src/lib/buildPacks/common.ts
  src/lib/store.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

feat: Cancel builds!
  src/lib/buildPacks/deno.ts
  src/lib/buildPacks/docker.ts
  src/lib/buildPacks/gatsby.ts
  src/lib/buildPacks/laravel.ts
  src/lib/buildPacks/nestjs.ts
  src/lib/buildPacks/nextjs.ts
  src/lib/buildPacks/node.ts
  src/lib/buildPacks/nuxtjs.ts
  src/lib/buildPacks/php.ts
  src/lib/buildPacks/python.ts
  src/lib/buildPacks/react.ts
  src/lib/buildPacks/rust.ts
  src/lib/buildPacks/static.ts
  src/lib/buildPacks/svelte.ts
  src/lib/buildPacks/vuejs.ts
  src/lib/docker.ts
  src/lib/locales/en.json
  src/routes/applications/[id]/cancel.json.ts
  src/routes/applications/[id]/deploy.json.ts
  src/routes/applications/[id]/index.svelte
  src/routes/applications/[id]/logs/build/_BuildLog.svelte
  src/routes/webhooks/github/events.ts
  src/routes/webhooks/gitlab/events.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

ui fixes
  src/routes/applications/[id]/cancel.json.ts
  src/routes/applications/[id]/logs/build/_BuildLog.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: Update autoupdate env variable
  package.json
  src/routes/update.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Added MariaDB database
  src/lib/components/DatabaseLinks.svelte
  src/lib/components/common.ts
  src/lib/components/svg/databases/MariaDB.svelte
  src/lib/database/common.ts
  src/lib/database/databases.ts
  src/routes/databases/[id]/_Databases/_Databases.svelte
  src/routes/databases/[id]/_Databases/_MariaDB.svelte
  src/routes/databases/[id]/configuration/type.svelte
  src/routes/databases/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Change MariaDB logo
  src/lib/components/svg/databases/MariaDB.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Update README and remove duplicate for NextJS
  README.md
Due: none

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Create --bug-report.yaml
  .github/ISSUE_TEMPLATE/--bug-report.yaml
Due: none

Create --feature-request.yaml
  .github/ISSUE_TEMPLATE/--feature-request.yaml
Due: none

Create --task.yaml
  .github/ISSUE_TEMPLATE/--task.yaml
Due: none

Update --bug-report.yaml
  .github/ISSUE_TEMPLATE/--bug-report.yaml
Due: none

fix: Renew certificates
  src/lib/letsencrypt/index.ts
  src/lib/queues/index.ts
  src/lib/queues/sslrenewal.ts
  src/routes/settings/index.svelte
  src/routes/settings/renew.json.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

update readme.md
  README.md
Due: none

fix: Webhook build images
  package.json
  src/lib/database/applications.ts
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

fix: missing node versions
  package.json
  src/lib/buildPacks/common.ts
  src/lib/locales/en.json
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Create github-actions-demo.yml
  .github/workflows/github-actions-demo.yml
Due: none

Update github-actions-demo.yml
  .github/workflows/github-actions-demo.yml
Due: none

Update and rename github-actions-demo.yml to github-actions.yml
  .github/workflows/github-actions.yml
Due: none

Update github-actions.yml
  .github/workflows/github-actions.yml
Due: none

Update README.md
  README.md
Due: none

fix: exposedPorts
  src/lib/buildPacks/gatsby.ts
  src/lib/buildPacks/laravel.ts
  src/lib/buildPacks/php.ts
  src/lib/buildPacks/react.ts
  src/lib/buildPacks/static.ts
  src/lib/buildPacks/svelte.ts
  src/lib/buildPacks/vuejs.ts
  src/routes/applications/[id]/check.json.ts
  src/routes/applications/[id]/index.svelte
Due: eslint --fix --max-warnings=0, prettier --ignore-path .gitignore --write

Path conditions:
  eslint --fix --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx,cjs,svelte}
  prettier --ignore-path .gitignore --write: (any of: src/**/*.{js,jsx,ts,tsx,cjs,svelte}) or (any of: src/**/*.{json,css,scss,md,yaml})
